[submodule "js/closure-library"]
	path = js/closure-library
	url = https://github.com/jarib/google-closure-library.git
[submodule "js/mustache"]
	path = js/mustache
	url = https://github.com/janl/mustache.js
